@import 'core';

*
{
    box-sizing: border-box;
}

html,
body
{
    font-family: 'AvantGardeGothicC', sans-serif;
    font-size: 16px;

    @include respond-from(FHD)
    {
      font-size: 24px;
    };

    @include respond-from(QHD)
    {
      font-size: 32px;
    };

    @include respond-from(UHD)
    {
      font-size: 48px;
    };
}

img,
.icon
{
    display: inline-block;

    max-width: 100%;

    vertical-align: middle;
}

.socals
{
  display: inline-block;
  text-align: center;
  &__item
  {
    display: inline-block;
    margin: 1.4rem .4rem;

    transition: transform .4s;

    &:hover {
      transform: scale(1.4);
    }

    .socals.vertical &
    {
      display: block;
    }

    .icon
    {
      font-size: 1rem;
    }
  }
}

.lang
{
  color: #ccc;
  font-family: 'AvantGardeGothicC-bold';
  a
  {
    color: #000;
    text-decoration: none;
  }
}
