@import "core";

.icon
{
    display: inline-block;
    vertical-align: middle;

    height: 1em;
    width: 1.6em;

    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    + button
    {
        margin-left: 1rem;
    }

    &.lang
    {
        width: 1.6em;
        height: 1em;
        background-image: url('../images/icons/lang.png');
        @include retina
        {
            background-image: url('../images/icons/lang@2x.png');
        }
    }

    &.mix
    {
        width: 1.3em;
        height: 1em;
        background-image: url('../images/icons/mix.png');
        @include retina
        {
            background-image: url('../images/icons/mix@2x.png');
        }
    }

    &.arrow-left
    {
        width: 1.4em;
        height: 1em;
        background-image: url('../images/icons/arrow-left.png');
        @include retina
        {
            background-image: url('../images/icons/arrow-left@2x.png');
        }
    }

    &.arrow-top
    {
        width: .9em;
        height: 1em;
        background-image: url('../images/icons/arrow-top.png');
        @include retina
        {
            background-image: url('../images/icons/arrow-top@2x.png');
        }
    }

    &.back
    {
        width: 1.3em;
        height: 1em;
        background-image: url('../images/icons/back.png');
        @include retina
        {
            background-image: url('../images/icons/back@2x.png');
        }
    }

    &.tooth
    {
        width: 1.2rem;
        height: 1.5rem;
        background-image: url('../images/icons/tooth.png');
        @include retina
        {
            background-image: url('../images/icons/tooth@2x.png');
        }
    }

    &.socal-vk
    {
        width: 1.8em;
        height: 1em;
        background-image: url('../images/icons/socal-vk.png');
        @include retina
        {
            background-image: url('../images/icons/socal-vk@2x.png');
        }
    }

    &.socal-fb
    {
        width: 1.4em;
        height: 1.4em;
        background-image: url('../images/icons/socal-fb.png');
        @include retina
        {
            background-image: url('../images/icons/socal-fb@2x.png');
        }
    }

    &.socal-tw
    {
        width: 1.4em;
        height: 1em;
        background-image: url('../images/icons/socal-tw.png');
        @include retina
        {
            background-image: url('../images/icons/socal-tw@2x.png');
        }
    }

    &.socal-lj
    {
        width: 1.4em;
        height: 1.4em;
        background-image: url('../images/icons/socal-lj.png');
        @include retina
        {
            background-image: url('../images/icons/socal-lj@2x.png');
        }
    }

    &.socal-yt
    {
        width: 1.5em;
        height: 1em;
        background-image: url('../images/icons/socal-yt.png');
        @include retina
        {
            background-image: url('../images/icons/socal-yt@2x.png');
        }
    }
}
