
@keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
    }
    to
    {
        opacity: 0;
    }
}

@keyframes scaleOut
{
    from
    {
        opacity: 1;
        transform: scale(1);
    }
    to
    {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes scaleX
{
    from
    {
        transform: scaleX(0);
    }
    to
    {
        transform: scaleX(1);
    }
}

@keyframes outUp
{
    from
    {
        opacity: 1;
        transform: translateY(0);
    }
    to
    {
        opacity: 0;
        transform: translateY(-500px);
    }
}

@keyframes outDown
{
    from
    {
        opacity: 1;
        transform: translateY(0);
    }
    to
    {
        opacity: 0;
        transform: translateY(500px);
    }
}

@keyframes outLeft
{
    from
    {
        opacity: 1;
        transform: translateX(0);
    }
    to
    {
        opacity: 0;
        transform: translateX(500px);
    }
}
