@import 'core';

.layout
{
    overflow-x: hidden;

    padding: 0 2rem;

    opacity: 1;

    transition: opacity 2s;

    .loading &
    {
        opacity: 0;
    }

    &__wrapper
    {
        position: relative;

        display: flex;

        max-width: 80rem;
        min-height: 99vh;
        margin: auto;

        border-right: 1px solid #eee;
        border-left: 1px solid #eee;

        @include respond-from(small)
        {
            border: none;
            background: url('../images/body-bg.svg') repeat-y;
            background-position: center top;
            background-size: 100% 1px;
        }
        @include respond-from(small)
        {
            border: none;
        }
    }

    &__header
    {
        position: fixed;
        z-index: 200;
        top: 0;
        left: 0;

        overflow: hidden;

        width: 100%;
    }

    &__menu
    {
        position: fixed;
        top: 0;
        left: -100%;

        overflow: scroll;

        width: 100%;
        height: 100vh;
        padding: 0 2rem;
        padding-top: 5rem;

        transition: transform .5s ease;

        .menu--open &
        {
            z-index: 100;
        }
    }

    &__body
    {
        position: relative;

        display: flex;

        width: 100%;
        padding-top: 5rem;
        padding-bottom: 5rem;

        transition: transform .5s ease;

        align-self: center;
        justify-content: space-between;
    }

    &__container
    {
        max-width: 100%;
        height: 100%;
        margin: auto;

        @include respond-from(small)
        {
            width: 66.66666666%;
            max-width: 53.375rem;
        }
    }

    &__side
    {
        display: none;

        @include respond-from(small)
        {
            display: flex;
            flex-direction: column;

            padding: 2rem;
            padding-top: 8rem;

            justify-content: space-between;
            align-items: flex-start;
            .rotate
            {
                transform: rotate(180deg);

                writing-mode: vertical-rl;
            }
        }

        &_left
        {
            position: fixed;
            top: 0;
            left: 0;

            width: 16%;
            height: 100%;
        }

        &_right
        {
            position: fixed;
            top: 0;
            right: 0;

            width: 16%;
            height: 100%;

            align-items: flex-end;

        }
    }


    &__footer
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        opacity: 1;
    }
}

.menu--open
{
    overflow: hidden;
    &,
    & body
    {
        overflow-y: hidden !important;
    }

    .layout__body,
    .layout__menu
    {
        transform: translateX(100%);
    }
}
