@import 'core';

.marker-fix
{
    position: relative;
    z-index: 1;
}

.marker-1
{
    @include marker-1;
}

.marker-2
{
    @include marker-2;
}

.marker-3
{
    @include marker-3;
}

.marker-4
{
    @include marker-4;
}


.marker-5
{
    @include marker-5;
}


.oval-marker
{
    position: relative;

    display: inline-block;

    overflow: hidden;

    width: 1em;
    height: 1em;

    transform: rotate(45deg) translate(0, 0);

    &:before
    {
        position: absolute;
        top: 0;
        left: 0;

        display: inline-block;

        width: 1em;
        height: 1em;

        content: '';

        background: url(../images/marker-oval.png) no-repeat;
        background-position: center center;
        background-size: 90% 90%;
        transform: rotate(-45deg) translate(0, 0);
    };
}

.oval-marker
{
    animation: oval-marker 1s linear;
    &:before
    {
        animation: oval-marker-before 1s linear;
    }
}


@keyframes oval-marker
{
    from
    {
        transform: rotate(45deg) translate(-1.41em, 0);
    }

    to
    {
        transform: rotate(45deg) translate(0, 0);
    }
}

@keyframes oval-marker-before
{
    from
    {
        transform: rotate(-45deg) translate(1em, 1em);
    }

    to
    {
        transform: rotate(-45deg) translate(0, 0);
    }
}
