@import "core";

.start-page
{
    font-size: .7rem;

    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;

    display: none;
    overflow-y: hidden;
    overflow-y: scroll;
    flex-direction: column;

    width: 100%;
    min-height: 100%;
    padding: 2em;

    color: #fff;
    background: rgba(0, 0, 0, 0);

    justify-content: space-between;
    align-items: center;

    transition: background .5s ease .7s;

    @include respond-from(small)
    {
        font-size: 1rem;
    }

    a
    {
        color: #fff;
    }

    &--open
    {
        &,
        & body
        {
            overflow-y: hidden;
        }
        .start-page
        {
            display: flex;
            background: rgba(0, 0, 0, .85);
        }

        & .layout__body,
        & .layout__header,
        & .layout__side,
        & .layout__footer,
        {
            filter: blur(5px);
        }
    }

    .start-page--closing &
    {
        background: rgba(0, 0, 0, 0);
    }


    &__header
    {
        position: relative;

        display: flex;

        width: 100%;

        justify-content: space-between;

        .start-page--closing &
        {
            animation: fadeOut 1s ease;
        }
    }

    &__logo
    {
        opacity: 0;
        animation: fadeIn 1s ease 3s;
        animation-fill-mode: both;

        .start-page--closing &
        {
            animation: outUp 1s ease;
        }
        img
        {
            max-height: 4em;
        }
    }

    &__menu
    {
        z-index: 99;
        animation: fadeIn 1s ease 3.5s;
        animation-fill-mode: both;

        .start-page--closing &
        {
            animation: outUp 1s ease .3s;
            animation-fill-mode: both;
        }

        ul
        {
            margin: 0;
            padding: 0;

            list-style: none;
            li
            {
                padding: .5em;
                a
                {
                    text-decoration: none;
                }
            }
        }

        @include respond-from(small)
        {
            ul
            {
                display: flex;
                li
                {
                    font-size: .88em;

                    padding-left: 2.5em;
                    &:first-child
                    {
                        padding-left: .5em;
                    }
                    &:last-child
                    {
                        padding-right: 0;
                    }
                    a
                    {
                    }
                }
            }
        }

        @include respond-to(small)
        {
            position: absolute;
            top: -4em;
            right: -6em;

            transition: all .3s ease;
            ul
            {
                position: relative;

                display: flex;
                flex-direction: column;

                width: 16em;
                height: 10em;
                padding: 1em 1em;

                transition: transform .3s ease;
                transform: scale(.2, .23);

                justify-content: space-between;
                &:after
                {
                    position: absolute;
                    top: 0;
                    right: 0;

                    display: block;

                    width: 100%;
                    height: 100%;

                    content: '';
                }
                li
                {
                    a
                    {
                        transition: background .3s ease;

                        background: #fff;
                    }
                }
            }

            &.open
            {
                transform: translate(-6em, 4em);

                ul
                {
                    border: .1em solid #fff;
                    border-radius: 1em;
                    background: rgba(30, 30, 30, 0.85);
                    transform: scale(1);
                    &:after
                    {
                        top: -1em;
                        right: -1em;

                        width: 2.5em;
                        height: 2.5em;

                        border: .1em solid #fff;
                        border-radius: 1em;

                        background: url('../images/close.svg') no-repeat rgba(30, 30, 30, 0.85);
                        background-position: center;
                        background-size: 50%;
                    }
                    li a
                    {
                        background: none;
                    }
                }
            }
        }
    }

    &__body
    {
        font-family: 'AvantGardeGothicC-bold';
        font-size: 1.1em;
        line-height: 1.5em;

        max-width: 100%;
        padding: 1em;

        text-align: center;
        text-align: center;
        letter-spacing: 0;

        color: #fff;
    }

    &__photo
    {
        animation: fadeIn 1s ease .5s;
        animation-fill-mode: both;
        padding-bottom: 2em;

        .start-page--closing &
        {
            animation: outDown .5s ease .8s;
            animation-fill-mode: both;
        }
        img
        {
            height: 5em;
        }
    }

    &__title
    {
        animation: fadeIn 1s ease 1s;
        animation-fill-mode: both;
        font-family: 'AvantGardeGothicC-Bold';
        font-size: 2.3em;

        margin: .2em;

        .start-page--closing &
        {
            animation: outDown .5s ease .6s;
            animation-fill-mode: both;
        }
    }
    &__subtitle
    {
        animation: fadeIn 1s ease 1.5s;
        animation-fill-mode: both;
        margin: 0;

        .start-page--closing &
        {
            animation: outDown .5s ease .4s;
            animation-fill-mode: both;
        }
    }

    &__text
    {
        animation: fadeIn 1s ease 2s;
        animation-fill-mode: both;

        .start-page--closing &
        {
            animation: outDown .5s ease .2s;
            animation-fill-mode: both;
        }

        span::before
        {
            opacity: .5;
            animation: scaleX .5s ease 2s;
            animation-fill-mode: both;
        }
    }

    &__close
    {
        animation: fadeIn 1s ease 2.5s;
        animation-fill-mode: both;
        line-height: 1em;

        display: inline-block;

        border-bottom: .1em dashed #fff;
        cursor: pointer;

        .start-page--closing &
        {
            animation: outDown .5s ease;
            animation-fill-mode: both;
        }
    }


}

.loading .start-page__body
{
    display: none;
}
