@import 'core';

pre
{
    font-family: monospace;

    overflow: auto;

    background-color: #eee;
}

code
{
    font-family: monospace;

    padding: .2em;

    color: #fd8008;
    background-color: #eee;
}


h1,
.h1
{
    font-family: 'AvantGardeGothicC-Bold';
    font-size: 3.5em;
    line-height: 100%;

    color: #000;

    @include respond-to(small)
    {
        font-size: 2.5em;
    }
}

button,
.btn
{
    font-family: 'AvantGardeGothicC-Bold';

    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    cursor: pointer;
    text-decoration: none;

    color: #000;
    border: none;
    border-bottom: .1em dashed;
    background: none;


     > .icon
    {
        position: absolute;
        top: 50%;
        left: -2rem;

        display: inline-block;

        transform: translateY(-50%);

        border-bottom: none;
    }
}
