@mixin marker-1
{
    position: relative;
    z-index: 1;

    display: inline-block;
    &::before
    {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -10%;

        width: 120%;
        height: 100%;

        content: '';
        transition: transform .5s ease .5s;

        background-image: url('../images/marker-1.png');
        background-position: center center;
        background-size: 100% 100%;

        @include retina
        {
            background-image: url('../images/marker-1@2x.png');
        }
    }
}

@mixin marker-2
{
    position: relative;
    z-index: 1;

    display: inline-block;
    &::before
    {
        position: absolute;
        z-index: -1;
        top: -.2em;
        left: 0;

        width: 100%;
        height: 130%;

        content: '';

        background-image: url('../images/marker-2.png');
        background-size: 100% 100%;

        @include retina
        {
            background-image: url('../images/marker-2@2x.png');
        }
    }
}

@mixin marker-3
{
    position: relative;
    z-index: 1;

    display: inline-block;
    &::before
    {
        position: absolute;
        z-index: -1;
        top: -.2em;
        left: -40%;

        width: 180%;
        height: 130%;

        content: '';

        background-image: url('../images/marker-3.png');
        background-size: 100% 100%;

        @include retina
        {
            background-image: url('../images/marker-3@2x.png');
        }
    }
}

@mixin marker-4
{
    position: relative;
    z-index: 1;

    display: inline-block;
    &::before
    {
        position: absolute;
        z-index: -1;
        top: -30%;
        left: -15%;

        width: 90%;
        height: 230%;

        content: '';

        background-image: url('../images/svg/marker-4.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;

        @include retina
        {
            background-image: url('../images/marker-4@2x.png');
        }
    }
}

@mixin marker-5
{
    position: relative;
    z-index: 1;

    display: inline-block;
    &::before
    {
        position: absolute;
        z-index: -1;
        top: -30%;
        left: -10%;

        width: 120%;
        height: 180%;

        content: '';

        background-image: url('../images/svg/marker-5.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include retina
        {
            background-image: url('../images/marker-5@2x.png');
        }
    }
}
