extends pug/base

append vars
  - pageTitle = 'Документация';

block content
  br
  h2 Меню 
  hr
  ul.menu
    ul.menu__list
      li.menu__item
        a.menu__link.active(href='index.html')
          | Документация
          code .active
      li.menu__item
        a.menu__link(href='layout-template.html' target="_blank")
          | Просто структурный шаблон
      li.menu__item
        a.menu__link(href='home.html' target="_blank")
          | Главная
      li.menu__item
        a.menu__link(href='home.html#cases' target="_blank")
          | Кейсы
      li.menu__item
        a.menu__link(href='case-detailed.html' target="_blank")
          del Страница кейса
      li.menu__item
        a.menu__link(href='about.html' target="_blank")
          del О нас
    p
      strong Emmet 
      | Сокращение для кода меню:
      br
      code
        | ul.menu>ul.menu__list>li.menu__item*6>a.menu__link[#]{Пункт меню $}


  br
  h2 Прелоавдер
  hr
  p
    button(onclick="runPreloader(true)") Показать
  p
    | Что бы запустить преловадер, нужно вызвать JS функцию 
    code runPreloader(status)
    br
    | которвая принимает 
    code status
    |  параметр:
    br
    code false
    |  - покажется только если страница грузится больше 2х секунд
    br
    code ture
    |  - для принудительного показа


  br
  h2 Стартовая страница
  hr
  p
    button(onclick="startPageOpen()") Показать
  p
    | Что бы показать стартовую, нужно вызвать JS функцию 
    code startPageOpen()


  br
  h2 Стикеры
  hr
  div(onselectstart="return false")
    include pug/demo/stikers

  br
  form.stikers-demo-panel
    input(type="text" name="cols")
    input(type="text" name="rows")
    input(type="checkbox")
    button(name="ok") OK

  script.
    readyjs.push(function(){
      console.log('Im Ready!');
    });

  br
  h2 Иконки
  hr
  include pug/demo/icons

  br
  h2 Социальные сети
  hr
  code .socals
  br
  .socals
    a(href="#").socals__item
      span.icon.socal-vk
    a(href="#").socals__item
      span.icon.socal-fb
    a(href="#").socals__item
      span.icon.socal-tw
    a(href="#").socals__item
      span.icon.socal-lj
    a(href="#").socals__item
      span.icon.socal-yt

  br
  code .socals.vertical
  br
  .socals.vertical
    a(href="#").socals__item
      span.icon.socal-vk
    a(href="#").socals__item
      span.icon.socal-fb
    a(href="#").socals__item
      span.icon.socal-tw
    a(href="#").socals__item
      span.icon.socal-lj
    a(href="#").socals__item
      span.icon.socal-yt


  br
  h2 Маркеры
  hr
  include pug/demo/markers
  br
  code .oval-marker
  br
  .oval-marker

  br
  h2 Типография
  hr
  include pug/demo/typography
