.start-page
  .start-page__header
    .start-page__logo
      a(href='/')
        img.logo(src='assets/images/logo-inverse.png', alt='bar', srcset='assets/images/logo-inverse@2x.png 2x')
    .start-page__menu
      ul
        li
          a(href='#') Читать обо мне
        li
          a(href='#') Тренинги и мероприятия
        li
          a(href='#') Написать мне
  .start-page__body
    .start-page__photo
      img(src='assets/images/photo.png', srcset='assets/images/photo@2x.png 2x', alt='')
    p.start-page__title Всем привет!
    p.start-page__subtitle Меня зовут Максим Дорофеев.
    p.start-page__text
      | Я – 
      span.marker-2 корпоративный доктор
      | -
      br
      | прокрастинатолог,
      br
      | и моя работа – помогать взрослым дядям
      br
      |  и тётям учиться 
      span.marker-3 делать
      |  все важные
      br
      |  рабочие и личные 
      span.marker-1 дела 
      br
      span.marker-3 вовремя…
    .start-page__close Ок, продолжим!
  .start-page__footer
// END: start-page
